<%= form_tag '/blogs/create' do %>
    <div class='title'>
    제목: <input type="text" name="title">
    </div>
    
    <div>
    내용: <textarea cols="40" rows="20" name="content"> </textarea>
    </div>
    
    <input type="submit" value="Click!">
<% end %>