    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <%= @post.title %>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%= @post.content %>
                    <div>
                        <a href="/posts/edit/<%= @post.id%>">Edit</a>
                        <a href="/posts/delete/<%= @post.id%>">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>